﻿<div>
    @*<header id="header">
            <div class="header-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-3">
                            <div class="category">
                                <div class="menu-bar" data-target="#category-menu,#category-menu-responsive" data-toggle="collapse" aria-expanded="true" role="button">
                                    <h4 class="category_text">Top category</h4>
                                    <span class="i-bar"><i class="fa fa-bars"></i></span>
                                </div>
                            </div>
                            <div id="category-menu-responsive" class="navbar collapse " aria-expanded="true" style="" role="button" >
                                <div class="nav-responsive">
                                    <ul class="nav  main-navigation collapse in">
                                        <li><a href="#">Pharmacy</a></li>
                                        <li><a href="#">Health</a></li>
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Vitamins</a></li>
                                        <li><a href="#">Sweating</a></li>
                                        <li><a href="#">Coughs & Colds</a></li>
                                        <li><a href="#">Hair Loss</a></li>
                                        <li><a href="#">Weight Loss</a></li>
                                        <li><a href="#">Antifungals</a></li>
                                        <li><a href="#">Pain Relief</a></li>
                                        <li><a href="#">Stop Smoking</a></li>
                                        <li><a href="#">Skin Conditions</a></li>
                                        <li><a href="#">Top Brands</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-md-8 col-lg-9">
                            <div class="header-bottom-right offers">
                                <div class="marquee">
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>It's Sexual Health Week!</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Our 5 Tips for a Healthy Summer</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Sugar health at risk?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>The Olay Ranges - What do they do?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Body fat - what is it and why do we need it?</span>
                                    <span><i class="fa fa-circle" aria-hidden="true"></i>Can a pillow help you to lose weight?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>*@
</div>
<div style="background-color:lightgray;height:1px"></div>
<div class="row" style="margin-right:0px">
    <div class="col-md-3">
        <ul class="nav  main-navigation collapse in">
            <li><a href="#">Giảm giá nhiều nhất</a></li>
            <li><a href="#">Top trending</a></li>
            <li><a href="#">Điện thoại</a></li>
            <li><a href="#">Laptop</a></li>
            <li><a href="#">Bàn ghế</a></li>
            <li><a href="#">Top Brands</a></li>
            <li><a href="#">Bàn ghế</a></li>
            <li><a href="#">Top Brands</a></li>
        </ul>
    </div>
    <div class="col-md-9" style="background-color:papayawhip;height:320px;margin-left:0px">
        SLIDER
    </div>
</div>
<div id="ContentHomePage">
    <div class="row">
        <div class="col-md-3">
            son
        </div>
        <div class="col-md-3">
            nam
        </div>
        <div class="col-md-3">
            hung
        </div>
        <div class="col-md-3">
            cuong
        </div>
    </div>
</div>



